.btn-custom {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: all 0.2s ease;

	color: white;

	&:hover {
	}
}

.btn-secondary {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition: all 0.2s ease;

	&:hover {
	}
}
